<div>
	<div class="home-car-info">
		<div class="home-car-title">
			<h4>The legend that keeps you coming back</h4>
		</div>
		<div>
			<button type="button" class="btn btn-info button-info-style" ng-click="infoCar( slide.link )">Show
				Details</button>

		</div>
	</div>

	<div class="container">
		<div class="row see-more-container">
			<div class="col-md-6">
				<h3>See more cars</h3>
				<p>Buy or lease an eligible Ford vehicle through Ford Credit. Then, if you face financial hardship due
					to loss of employment, you can return it within one year of purchase. It’s our way of helping you
					move forward.</p>
					<button type="button" class="btn btn-info" 
							ng-click="infoCar( slide.link )">Show me more</button>
			</div>
			<div class="col-md-6">
				<h3>About Us</h3>
				<p>Since 1903, we have helped to build a better world for the people and communities that we serve.
					Welcome to Ford Motor Company.</p>
					<button type="button" class="btn btn-info" 
							ng-click="infoCar( slide.link )">Learn more</button>
			</div>

		</div>
	</div>

</div>