body {
    background-color: #edf2f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

.main-content {
    margin: auto;
    padding-bottom: 98px;
    border-radius: 20px;
}

.home-car-info {
    background: url(img/homeCar.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 600px;
    margin-bottom: 80px;
}

.home-car-title {
    padding-top: 5em;
    padding-left: 8em;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.button-info-style {
    margin-top: 1em;
    margin-right: 50em;
    width: 200px;
    height: 40px;
}

.avatar-nav-logo {
    padding-left: 68px;
    margin: auto;
    width: auto;
    height: 35px;
    padding-right: 20px;    
}

.nav-log-in {
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 48em;
}

.see-more-container {
    background-color: rgb(43, 49, 58);
    width: auto;
    color: rgba(255, 255, 255, 1);
    padding: 5ex;
}

/*side bar*/

.sidebar-profile {
	height: 39em;
    background-color: #edf2f9!important;
    padding: 2em;
    text-align: start;
    font-weight: bold;
    text-align: -webkit-right;
}

/* Dashboard */

.display-card-row, .display-card-row-container {
	display: flex;
}

.display-card-row-container {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
	color: #6d6d6d;
    
}

.card-container {
    width: 142ex;
}

.card-info, .mail-password-box {
	display: flex;
}

.card-body-header, .card-body, .profile-body, .card-body-table, .register-content{
	padding: 4ex;
	padding-left: 3em;
	padding-right: 3em;
	border-radius: .25rem;
	text-align: initial;
	box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}  

.card-body, .profile-body, .card-body-table {
	margin-right: 14px;
	background-color: white;
	
}

.card-body, .card-body-table {
	margin-top: 2ex;
}  

.card-body-header {
    margin-top: 4ex;
    background-image: -webkit-linear-gradient(135deg,#014ba7,#0183d0);
    background-image: linear-gradient(-45deg,#014ba7,#0183d0);
    color: #ffffff;        
}

.card-body, .register-content {
	font-size: 14px;
}

.card-body {    
    width: 55em;        
}

/*Table Fix*/
.fix-table {
	margin: 0ex auto;
    width: -webkit-fill-available;
}

.profile-body {
    margin: 4ex auto;
    width: 70em;   
}

.card-body-table {
    width: -webkit-fill-available;
}

.info-profile, .info-profile-data {
	display: flex;	
	margin: 0 auto;
    width: 64em;
    padding-right: 80px;
}

.info-box-title {
    padding-right: 9px;	
   	width: 20ex;
   	text-align: end;
}

.info-box-data {
    width: -webkit-fill-available;
}

.input-edit-data {
	padding: 4px;
}

.profile-msj-fix {
    padding-bottom: 32px;
}

/*Change Mail Password panel*/
.mail-password-box {
    margin: 3ex auto;
    padding-left: 9ex;
}

.mail-password-edit {
    padding-right: 4ex;
    text-align: end;
}

.mail-password-edit-box {
    width: 55ex;
}

.header-table-mycar {
	background-color: #686c6f;
    color: white;
    text-align: center;
    width: 100% !important;
    table-layout:fixed;
}

.table-data-mycar {
	background-color: #f4f9ff!important;
    color: darkslategrey;
    text-align: center;	
}

.mycar-table-width {
	width: 100%;
}

.must-contain-edit-password {
	font-style: italic;
    text-align: end;
    color: red;
}

.adverstisment-style {
	color: darkgrey;
    font-style: italic;
}

.format-font-profile {
	text-align: left;
}

/*loading animation*/

.loading-content{
	margin: 15em auto;
}

.loading-logo{
    width: 140px;
}

.animate-fading {
    -webkit-animation: fadeIn ease 1.2s infinite;
}

/* register */
.register-box {
	margin: 0 auto;
    width: auto;
}

.register-content{
    width: 85em;
    background-color: white;
}

/* payment process */

.badge-soft-secondary {
    color: #7d899b;
    background-color: #e3e6ea;
}

.rounded-capsule {
    width: 20ex;
}
.badge-soft-success {
    color: #00864e;
    background-color: #97efae;
}

.badge-soft-warning {
    color: #c46632;
    background-color: #fde6d8;
}

/* edit original */
.nav-link {color: #4a5c6e;}
.nav-link:hover {color: #1b1b1b;}
.fa-tachometer {padding-right: 1ex;}
.fa-user-circle {padding-right: 1ex;}
.fa-car {padding-right: 1ex;}
.fa-cog {padding-right: 1ex;}
.fa-credit-card {padding-right: 1ex;}
.font-weight-bold {padding-right: 3ex;}
.fa {padding-left: 1.5ex;}
.badge {padding: 0.40em .4em;}
.table {
	font-size: 15px;
    font-family: Nunito,sans-serif;
    color: #6c757d;
}
.alert{text-align: center;}
.sidebar-sticky{
	background-color: white;
    border-radius: .25rem;
    box-shadow: 0 7px 14px 0 rgba(59,65,94,.1), 0 3px 6px 0 rgba(0,0,0,.07);
   	height: -webkit-fill-available;
    padding: 16px;
}

@media (max-width: 1024px) {
    nav{
        width: auto;
    }
    .nav-log-in {
        margin-left: 20em;
    }
    .home-car-title {
        padding-top: 3em;
        padding-left: 3em;
    }
    .button-info-style {
        margin-top: 1em;
        margin-right: 30em;
    }
    
}    